<div class="jumbotron">
  <div class="container py-4">
    <h1 class="display-2">Want to Learn About Sharks?</h1>
    <p >Are you ready to learn about sharks?</p>
    <br>
    <p>
      <%= button_to 'Get Shark Info', sharks_path, :method => :get,  :class => "btn btn-primary btn-lg"%>
    </p>
  </div>
</div>


<div class="row py-4 text-center">

  <div class="col-md-4">

                  <%= image_tag("img/shark1.jpeg") %>

            </div>

            <div class="col-md-4">
                      <%= image_tag("img/shark2.jpg") %>
                      </div>

                      <div class="col-md-4">
                          <%= image_tag("img/shark3.jpeg") %>
                                </div>

</div>





<div class="container p-5 bg-info">
  <div class="row">
    <div class="col-lg-6">
      <h3>Not all sharks are alike</h3>
      <p>Though some are dangerous, sharks generally do not attack humans. Out of the 500 species known to researchers, only 30 have been known to attack humans.
      </p>
    </div>

    <div class="col-lg-6">
      <h3>Sharks are ancient</h3>
      <p>There is evidence to suggest that sharks lived up to 400 million years ago.
      </p>
     </div>
  </div>
</div>

        <div class="col-md text-md-right py-2">
        <small>&copy; 2021 SharkTalk</small>
      </div>
